@if (user) {
<div class="control-container">
  <ejs-appbar colorMode="Primary">
    <span class="regular" style="margin: 0 5px">
      HRS - House Reservation System
    </span>
    <div class="e-appbar-spacer"></div>
    <span class="regular" style="margin: 0 5px">{{ user.email }}</span>
    <app-avatar [data]="avatar" />
    <!-- TODO: Instead of this button please create dropdown on hover avatar and put this logout inside.
     Please check this: https://ej2.syncfusion.com/angular/documentation/drop-down-button/getting-started  -->
    <button (click)="logout()">logout</button>
  </ejs-appbar>
</div>
}
