<ejs-schedule
  #scheduleObj
  [views]="schedulerConfig.config.view.all"
  [minDate]="schedulerConfig.config.minDate"
  [firstDayOfWeek]="1"
  [currentView]="schedulerConfig.config.view.current"
  [eventSettings]="schedulerConfig.eventSettings"
  (popupOpen)="onPopupOpen($event)"
/>

<ejs-dialog
  #dialog
  width="50%"
  [isModal]="true"
  [visible]="false"
  header="Book a House"
  [closeOnEscape]="true"
  [showCloseIcon]="true"
>
  <ng-template #content>
    <app-reservation
      (onCloseDialog)="saveEvent($event)"
      [clearReservationForm]="clearReservationForm"
    ></app-reservation>
  </ng-template>
</ejs-dialog>
