<ejs-schedule
  #scheduleObj
  [minDate]="minDate"
  [firstDayOfWeek]="1"
  [currentView]="currentView"
  [eventSettings]="eventSettings"
  (popupOpen)="onPopupOpen($event)"
>
  <e-views>
    <e-view option="Month" [showWeekend]="true"></e-view>
  </e-views>
</ejs-schedule>

<ejs-dialog
  #dialog
  width="50%"
  [isModal]="true"
  [visible]="false"
  header="Book a House"
  [closeOnEscape]="true"
  [showCloseIcon]="true"
>
  <ng-template #content>
    <app-reservation (onCloseDialog)="saveEvent($event)"></app-reservation>
  </ng-template>
</ejs-dialog>
