.e-schedule-dialog .e-all-day-time-zone-row {
  display: none !important;
}

.e-recurrenceeditor .e-editor {
  display: none !important;
}

// Reservation > Textbox area
.e-input-group.e-multi-line-input.e-auto-width {
  width: 100% !important;
}
